/* TODO: Make it awesome */
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2rem;
    width: 500px;
    margin: 0 auto;  
    margin-top:20px;  
}

.card header{
    margin-bottom: 50px;
}

li{
    display: inline-block;
}

nav{
    outline: 2px;
    float:right;

}

main h1 {
    font-size: 1.4rem;
    font-style: italic;
}

.copy{
    outline: 2px
}
footer{
    text-align: center;
    padding-top: 30px;
}

main {
    width: 80%;
    margin: 0 10%;
}